<div id="toast" class="toast" [class.show]="showToast" [class.success]="toastType === 'success'"
  [class.error]="toastType === 'error'">
  <div class="toast-content">
    <div class="toast-icon">
      <span *ngIf="toastType === 'success'">✅</span>
      <span *ngIf="toastType === 'error'">❌</span>
    </div>
    <div>
      <strong>{{ toastType === 'success' ? 'Éxito!' : 'Error!' }}</strong>
      <p>{{ toastMessage }}</p>
    </div>
    <button class="toast-close" (click)="showToast = false">✖</button>
  </div>
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <div class="mb-3">
          <div class="row">

            <!-- Filtro de Facultad -->
            <div class="col-md-4">
              <label for="facultad" class="form-label">Facultad</label>
              <select id="facultad" class="form-select" [(ngModel)]="selectedFaculty" (change)="applyFilters()">
                <option value="">Todas</option>
                <option *ngFor="let facultad of facultades" [value]="facultad.facultadId">
                  {{ facultad.nombre }}
                </option>
              </select>
            </div>

            <!-- Campo de Búsqueda -->
            <div class="col-md-8">
              <label for="search" class="form-label">Buscar</label>
              <input id="search" type="text" class="form-control" [(ngModel)]="searchTerm" (input)="applyFilters()"
                placeholder="Buscar por ID, nombre o código" />
            </div>
          </div>
        </div>


        <div class="table-responsive">
          <table cTable hover responsive striped align="middle" class="table table-bordered table-hover mb-0">
            <thead class="text-nowrap text-truncate">
              <tr>
                <th class="bg-body-tertiary text-center ">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th class="bg-body-tertiary">ID</th>
                <th class="bg-body-tertiary">Nombre</th>
                <th class="bg-body-tertiary">Descripción</th>
                <th class="bg-body-tertiary text-center">Codigo</th>
                <th class="bg-body-tertiary text-center">Duración</th>
                <th class="bg-body-tertiary text-center">Activa</th>
                <th class="bg-body-tertiary">Acciones</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let carrera of filteredCarreras; trackBy: trackByFn">
                <td class="text-center">
                  <c-avatar [ngStyle]="{ 'background-color': getColorForCarrera(carrera), 'color': 'white' }"
                    textColor="white">
                    {{ getInitials(carrera.nombre) }}
                  </c-avatar>
                </td>
                <td>
                  <div>{{ carrera.carreraPk }}</div>
                </td>
                <td>
                  <div>{{ carrera.nombre }}</div>
                  <div class="small text-body-secondary text-nowrap">
                    <span>
                      {{ carrera.facultadNombre }}
                    </span>
                  </div>
                </td>
                <td>{{ carrera.descripcion }}</td>
                <td>{{ carrera.codigo }}</td>
                <td>{{ carrera.duracionanios }} años</td>
                <td>
                  <span class="saber rounded text-white" [ngClass]="{
                    'bg-success': carrera.activa,
                    'bg-danger': !carrera.activa
                  }">
                    {{ carrera.activa ? 'Activa' : 'Desactivada' }}
                  </span>
                </td>

                <td>
                  <div class="d-flex justify-content-around">
                    <button cButton [cModalToggle]="Editar_Carrera.id" color="primary" variant="outline"
                      style="margin-right: 10px;" (click)="openCarreraModal(carrera)">
                      <svg cIcon class="me-2" name="cil-pen" style="margin-right: 0px !important;"></svg>
                    </button>

                    <button cButton [cModalToggle]="Eliminar_Carrera.id" color="danger" variant="outline"
                      (click)="openCarreraModal(carrera)">
                      <svg cIcon class="me-2" name="cil-trash" style="margin-right: 0px !important;"></svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #Editar_Carrera alignment="center" id="Editar_Carrera" class="modal-lg">
  <c-modal-header>
    <h5 cModalTitle><strong>Actualizar:</strong> <small style="color: red;"> {{ selectedCarrera?.nombre }}</small></h5>
  </c-modal-header>
  <c-modal-body>
    <div style="margin: 10px;">
      <form [formGroup]="myForm" (ngSubmit)="guardarCambios()" class="row g-3">


        <div class="col-md-6">
          <label for="carreraPk" class="form-label">ID Carrera</label>
          <input id="carreraPk" type="number" class="form-control" formControlName="carreraPk">
        </div>

        <div class="col-md-6">
          <label for="codigo" class="form-label">Codigo</label>
          <input id="codigo" type="text" class="form-control" formControlName="codigo">
        </div>

        <div class="col-md-12">
          <label for="nombre" class="form-label">Nombre Completo</label>
          <input id="nombre" type="text" class="form-control" formControlName="nombre">
        </div>


        <div class="col-md-12" cFormFloating>
          <textarea cFormControl id="descripcion" formControlName="descripcion"></textarea>
          <label cLabel for="floatingTextarea">Descripcion</label>
        </div>

        <div class="col-md-6">
          <label for="facultadId">Facultad</label>
          <select id="facultadId" class="form-control" formControlName="facultadId" (change)="onFacultadChange($event)">
            <option *ngFor="let facultad of facultades" [value]="facultad.facultadId">
              {{ facultad.nombre }}
            </option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="duracionanios">Duración</label>
          <input id="duracionanios" type="number" class="form-control" formControlName="duracionanios" placeholder="Area del Usuario">
          
        </div>

        <div class="col-md-6">
          <c-form-check [switch]="true">
            <label cFormCheckLabel>Estado(Activa/Desactiva)</label>
            <input cFormCheckInput checked id="activa" formControlName="activa" type="checkbox" />
          </c-form-check>
        </div>
      </form>

    </div>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="Editar_Carrera.id" cButton color="secondary">
      Close
    </button>
    <button [cModalToggle]="Editar_Carrera.id" type="submit" class="btn btn-primary"
      [disabled]="myForm.invalid" (click)="guardarCambios()">Actualizar</button>
  </c-modal-footer>

</c-modal>

<c-modal #Eliminar_Carrera alignment="center" id="Eliminar_Carrera" class="modal-md">
  <c-modal-body>
    <img src="assets/x.webp" alt="Eliminar carrera" class="delete-image">
    <h1 class="text-center">¿Estas seguro?</h1>
    <h4 class="text-center">¿Realmente quieres eliminar la carrera <span style="color: red;">{{ selectedCarrera?.nombre
        }}</span>?</h4>
    <h6 class="text-center">Este proceso no es reversible</h6>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="Eliminar_Carrera.id" cButton color="secondary">
      Cancelar
    </button>
    <button [cModalToggle]="Eliminar_Carrera.id" cButton color="danger"
      (click)="eliminarCarrera(selectedCarrera)">Eliminar</button>
  </c-modal-footer>
</c-modal>