.fondo{
    background-image: url(https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148886028.jpg?t=st=1744267256~exp=1744270856~hmac=e72a1456d372af89980549121f31eeeb099370c187e897fcbfd208bddb5a5368&w=996);
    background-repeat: no-repeat;
    background-size: cover;
}