<div id="toast" class="toast" [class.show]="showToast" [class.success]="toastType === 'success'" [class.error]="toastType === 'error'">
  <div class="toast-content">
    <div class="toast-icon">
      <span *ngIf="toastType === 'success'">✅</span>
      <span *ngIf="toastType === 'error'">❌</span>
    </div>
    <div>
      <strong>{{ toastType === 'success' ? 'Éxito!' : 'Error!' }}</strong>
      <p>{{ toastMessage }}</p>
    </div>
    <button class="toast-close" (click)="showToast = false">✖</button>
  </div>
</div>

<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Formulario</strong> <small>de Carreras</small>
      </c-card-header>
      <c-card-body>
        
        <form [formGroup]="myForm" (ngSubmit)="registrar()" class="row g-3">

          <div class="col-md-6">
            <label for="carreraPk" class="form-label">ID Carrera</label>
            <input id="carreraPk" type="number" class="form-control" formControlName="carreraPk" placeholder="ID de la Carrera">
          </div>

          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input id="nombre" type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la Carrera">
          </div>

          <div class="col-md-6">
            <label for="codigo" class="form-label">Codigo</label>
            <input id="codigo" type="text" class="form-control" formControlName="codigo" placeholder="Codigo de la Facultad">
          </div>

          <div class="col-md-6">
            <label for="duracionanios" class="form-label">Duración</label>
            <input id="duracionanios" type="number" class="form-control" formControlName="duracionanios" placeholder="Años de duración de la Carrera">
          </div>

          <div class="col-md-12">
            <label for="facultadId" class="form-label">Facultad</label>
            <select id="facultadId" class="form-select" formControlName="facultadId" placeholder="Seleccione la Facultad a la cual pertenece la carrera">
              <option value="" disabled selected>Seleccione la Facultad a la cual pertenece la carrera</option>
              <option *ngFor="let facultad of facultades" [value]="facultad.facultadId">
                {{ facultad.nombre }}
              </option>
            </select>
          </div>

          <div cFormFloating>
            <label cLabel for="descripcion">Descripción</label>
            <textarea cFormControl id="descripcion" formControlName="descripcion" placeholder="Descripción de la Facultad aquí"></textarea>
          </div>

          <div class="col-md-6">
            <c-form-check [switch]="true">
              <label cFormCheckLabel>Estado de Facultad (Activa/Desactiva)</label>
              <input cFormCheckInput checked id="activa" formControlName="activa" type="checkbox" />
            </c-form-check>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Registrar</button>
          </div>
          
        </form>
        
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
