<div id="toast" class="toast" [class.show]="showToast" [class.success]="toastType === 'success'"
  [class.error]="toastType === 'error'">
  <div class="toast-content">
    <div class="toast-icon">
      <span *ngIf="toastType === 'success'">✅</span>
      <span *ngIf="toastType === 'error'">❌</span>
    </div>
    <div>
      <strong>{{ toastType === 'success' ? 'Éxito!' : 'Error!' }}</strong>
      <p>{{ toastMessage }}</p>
    </div>
    <button class="toast-close" (click)="showToast = false">✖</button>
  </div>
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <div class="mb-3">
          <div class="row">

            <!-- Filtro de Facultad -->
            <div class="col-md-4">
              <label for="facultad" class="form-label">Facultad</label>
              <select id="facultad" class="form-select" [(ngModel)]="selectedFaculty" (change)="applyFilters()">
                <option value="">Todas</option>
                <option *ngFor="let facultad of facultades" [value]="facultad.facultadId">
                  {{ facultad.nombre }}
                </option>
              </select>
            </div>

            <!-- Campo de Búsqueda -->
            <div class="col-md-8">
              <label for="search" class="form-label">Buscar</label>
              <input id="search" type="text" class="form-control" [(ngModel)]="searchTerm" (input)="applyFilters()"
                placeholder="Buscar por ID, nombre o código" />
            </div>
          </div>
        </div>


        <div class="table-responsive">
          <table cTable hover responsive striped align="middle" class="table table-bordered table-hover mb-0">
            <thead class="text-nowrap text-truncate">
              <tr>
                <th class="bg-body-tertiary text-center ">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th class="bg-body-tertiary">ID</th>
                <th class="bg-body-tertiary">Nombre</th>
                <th class="bg-body-tertiary">Descripción</th>
                <th class="bg-body-tertiary text-center">Codigo</th>
                <th class="bg-body-tertiary text-center">Creditos</th>
                <th class="bg-body-tertiary text-center">Cupo Maximo</th>
                <th class="bg-body-tertiary text-center">Año Cursar</th>
                <th class="bg-body-tertiary text-center">Cuatrimestre</th>
                <th class="bg-body-tertiary text-center">Horas Semanales</th>
                <th class="bg-body-tertiary text-center">Activa</th>
                <th class="bg-body-tertiary">Acciones</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let materia of filteredMaterias; trackBy: trackByFn">
                <td class="text-center">
                  <c-avatar [ngStyle]="{ 'background-color': getColorForCarrera(materia), 'color': 'white' }"
                    textColor="white">
                    {{ getInitials(materia.nombre) }}
                  </c-avatar>
                </td>
                <td>
                  <div>{{ materia.materiaPk }}</div>
                </td>
                <td>
                  <div>{{ materia.nombre }}</div>
                  <div class="small text-body-secondary text-nowrap">
                    <span>
                      {{ materia.facultadNombre }}
                    </span>
                  </div>
                </td>
                <td>{{ materia.descripcion }}</td>
                <td>{{ materia.codigo }}</td>
                <td>{{ materia.creditos }}</td>
                <td>{{ materia.cupoMaximo }}</td>
                <td>{{ materia.anioCursada }}</td>
                <td>{{ materia.cuatrimestre }}</td>
                <td>{{ materia.horasSemanales }}</td>
                <td>
                  <span class="saber rounded text-white" [ngClass]="{
                    'bg-success': materia.activa,
                    'bg-danger': !materia.activa
                  }">
                    {{ materia.activa ? 'Activa' : 'Desactivada' }}
                  </span>
                </td>

                <td>
                  <div class="d-flex justify-content-around">
                    <button cButton [cModalToggle]="Editar_Materia.id" color="primary" variant="outline"
                      style="margin-right: 10px;" (click)="openMateriaModal(materia)">
                      <svg cIcon class="me-2" name="cil-pen" style="margin-right: 0px !important;"></svg>
                    </button>

                    <button cButton [cModalToggle]="Eliminar_Materia.id" color="danger" variant="outline"
                      (click)="openMateriaModal(materia)">
                      <svg cIcon class="me-2" name="cil-trash" style="margin-right: 0px !important;"></svg>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #Editar_Materia alignment="center" id="Editar_Carrera" class="modal-lg">
  <c-modal-header>
    <h5 cModalTitle><strong>Actualizar:</strong> <small style="color: red;"> {{ selectedMateria?.nombre }}</small></h5>
  </c-modal-header>
  <c-modal-body>
    <div style="margin: 10px;">
      <form [formGroup]="myForm" (ngSubmit)="guardarCambios()" class="row g-3">

        <div class="col-md-6">
          <label for="materiaPk" class="form-label">ID Materia</label>
          <input id="materiaPk" type="number" class="form-control" formControlName="materiaPk">
        </div>

        <div class="col-md-6">
          <label for="codigo" class="form-label">Código</label>
          <input id="codigo" type="text" class="form-control" formControlName="codigo">
        </div>

        <div class="col-md-12">
          <label for="nombre" class="form-label">Nombre</label>
          <input id="nombre" type="text" class="form-control" formControlName="nombre">
        </div>

        <div cFormFloating>
          <label cLabel for="descripcion">Descripción</label>
          <textarea cFormControl id="descripcion" formControlName="descripcion" placeholder="Descripción de la Facultad aquí"></textarea>
        </div>
      
        <div class="col-md-6">
          <label for="creditos" class="form-label">Creditos</label>
          <input id="creditos" type="number" class="form-control" formControlName="creditos">
        </div>

        <div class="col-md-6">
          <label for="cupoMaximo" class="form-label">Cupo Max</label>
          <input id="cupoMaximo" type="number" class="form-control" formControlName="cupoMaximo">
        </div>

        <div class="col-md-6">
          <label for="horasSemanales" class="form-label">Horas Semanales</label>
          <input id="horasSemanales" type="number" class="form-control" formControlName="horasSemanales">
        </div>

        <div class="col-md-6">
          <label for="anioCursada" class="form-label">Semestre Cursada</label>
          <input id="anioCursada" type="number" class="form-control" formControlName="anioCursada">
        </div>

        <div class="col-md-12">
          <label for="cuatrimestre" class="form-label">Cuatrimestre</label>
          <select id="cuatrimestre" class="form-select" formControlName="cuatrimestre">
            <option value="Primer">Primer</option>
            <option value="Segundo">Segundo</option>
            <option value="Anual">Anual</option>
          </select>
        </div>

        <div class="col-md-12">
          <label for="carrera" class="form-label">Carrera</label>
          <select id="carrera" class="form-select" formControlName="carreraPk">
            <option *ngFor="let carrera of carreras" [value]="carrera.carreraPk">
              {{ carrera.nombre }}
            </option>
          </select>
        </div>

        

        <div class="col-md-6">
          <c-form-check [switch]="true">
            <label cFormCheckLabel>Estado de Facultad (Activa/Desactiva)</label>
            <input cFormCheckInput checked id="activa" formControlName="activa" type="checkbox" />
          </c-form-check>
        </div>
      </form>

    </div>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="Editar_Materia.id" cButton color="secondary">
      Close
    </button>
    <button [cModalToggle]="Editar_Materia.id" type="submit" class="btn btn-primary"
      [disabled]="myForm.invalid" (click)="guardarCambios()">Actualizar</button>
  </c-modal-footer>

</c-modal>

<c-modal #Eliminar_Materia alignment="center" id="Eliminar_Carrera" class="modal-md">
  <c-modal-body>
    <img src="assets/x.webp" alt="Eliminar carrera" class="delete-image">
    <h1 class="text-center">¿Estas seguro?</h1>
    <h4 class="text-center">¿Realmente quieres eliminar la carrera <span style="color: red;">{{ selectedMateria?.nombre
        }}</span>?</h4>
    <h6 class="text-center">Este proceso no es reversible</h6>

  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="Eliminar_Materia.id" cButton color="secondary">
      Cancelar
    </button>
    <button [cModalToggle]="Eliminar_Materia.id" cButton color="danger"
      (click)="eliminarMateria(selectedMateria)">Eliminar</button>
  </c-modal-footer>
</c-modal>